/* 
### Body, Call-to-actions

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 700*/

/* ===== global atributes ======== */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

/* ============     main content   ================= */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ================     header      ================== */

.header {
  background-color: hsl(193, 100%, 96%);
  background-image: url(../images/bg-hero-desktop.svg);
  padding: 50px 5%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
}

.top_links {
  grid-area: 1/1/2/3;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.top_logo > img {
  width: 70%;
}

.top_link {
  background-color: #fff;
  color: hsl(192, 100%, 9%);
  padding: 12px 50px;
  border-radius: 25px;
  box-shadow: 0px 2px 2px 0px hsl(192, 100%, 9%, 0.1);
  font-weight: bolder;
}

.top_content {
  grid-area: 2/1/3/2;
  margin-top: 50px;
  width: 520px;
}

h1 {
  font-size: 2.2em;
}

.pink_link {
  display: inline-block;
  margin-top: 30px;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  padding: 15px 75px;
  border-radius: 25px;
  font-weight: bolder;
  font-size: 0.7em;
}

.header_ilustrator > img {
  max-width: 700px;
}

.header_ilustrator {
  grid-area: 2/2/3/3;
}

/* =============   main section ============== */

.cards {
  margin: 100px 80px;
}

/* =============   cards   =============== */

.card {
  border-radius: 15px;
  padding: 100px 40px;
  box-shadow: 0px 0px 10px 5px hsl(192, 100%, 9%, 0.1);
  margin-bottom: 50px;
  display: flex;
}

/* ========== asside element ================ */

aside {
  margin: 0 auto;
  width: 50%;
  box-shadow: 0px 0px 10px 5px hsl(192, 100%, 9%, 0.1);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  top: 100px;
}

/* ============== footer links ================ */

.footer {
  padding: 150px 72px;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
}

.logo_bottom{
  margin-bottom: 30px;
  
}

.logo_bottom > img {
  filter: brightness(0) invert(1);
}

nav {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  justify-items: center;
}

.block{
  display: block;
}

li{
  padding-bottom: 30px;
}

.bottom_icons{
  margin-right: 20px;
}

.bootom_links{
  color: #fff;
}

.bottom_copyright{
  float: right;
}